/*estilo de footer*/
/*mixin para aplicar en los textos que sea posible*/

@mixin estiloLetra( $tamanioLetra , $colorLetra){
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: $tamanioLetra;
    color: $colorLetra;

}

#nombreFooter{
    font-weight: bold;
    @include estiloLetra( medium , black )
}
footer{
    margin-top: 15px;
    display: flex;
    list-style-type: none;
    height: 100%;
    align-items: center;
    width: 100%;
}
#logosFooter{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}