/*estilo del texto del inicio del index*/
#estiloPresentacion{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px;
}
/*estilo del carrusel de fotos y video*/
#estiloCarrusel{
    margin-top: 40px;
}