@import "estiloContacto.scss";
@import "estiloHeaderConNav.scss";
@import "estiloGalerias.scss";
@import "estiloIndex.scss";
@import "estiloTiendas.scss";
@import "estiloFooter";

/*reseteo de css*/
*{
    margin: 0;
    padding: 0;
}
/*estilo de todos los ul del sitio*/
ul{
    height: 100%;
    display: flex;
    list-style-type: none;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
/*estilo de todos los a del sitio*/
a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}
/*estilos de todos los encabezados del sitio*/
.encabezados{
    text-align: center;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}
/*media queries para el responsive design*/
@media only screen and (max-width: 600px){
    #gridPadre{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 830px 830px 830px 830px 830px 830px;
        justify-items: center;
        align-items: center;
        padding: 10px;
        justify-content: center;
        align-content: center;
        column-gap: 20px;
        row-gap: 10px;   
        height: 5000px;
    }
    #mapa{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }
    #mapa iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
        
}
@media only screen and ( min-width: 600px){
    #gridPadre{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 740px 740px 740px;
        justify-items: center;
        align-items: center;
        padding: 10px;
        justify-content: center;
        align-content: center;
        column-gap: 20px;
        row-gap: 10px;   
        height: 2225px;
    }
    #mapa{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }
    #mapa iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
}
@media only screen and ( min-width: 1200px){
    #gridPadre{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 690px 690px;
        justify-items: center;
        align-items: center;
        padding: 10px;
        justify-content: center;
        align-content: center;
        column-gap: 20px;
        row-gap: 20px;   
        height: 1400px;
    }
    #mapa{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }
    #mapa iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
        }
}
